* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.App {
  height: 100vh;
  margin-bottom: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  font-family: 'Nunito', Arial;
}

.App > .container {
  height: 80%;
  display: flex;
  padding-left: 20px;
}
.container > section {
  width: 50%;
  height: 100%;
  padding: 20px;
}

section > h4 {
  font-size: 1rem;
  color: #455cd9;
  margin-bottom: 10px;
}

.sidebar {
  flex-basis: 20vw;
  height: 100%;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.sidebar > div {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar .btn {
  width: 100%;
  background-color: #fff;
  border: 2px solid #cecece;
  color: #1e1e1e;
  font-weight: 200;
}

.editor {
  height: 90%;
  width: 100%;
  font-size: 1rem;
  outline: none;
  color: white;
  background: #1e1e1e;
  overflow-y: scroll;
  padding: 10px;
}

.markdown {
  height: 90%;
  width: 100%;
  padding: 20px;
  outline: none;
  overflow-y: scroll;
  border-radius: 4px;
  border: 1px solid #1e1e1e;
  /* background-color: #1e1e1e; */
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 0px;
  color: #cecece;
  background-color: #1e1e1e;
}

.navbar > h1 > span {
  background: url('/src/assets/logo.png');
  height: 20px;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  width: 100vw;
  padding: 10px 0px;
  color: black;
}

.attribution > a {
  color: rgb(58, 57, 57);
}

.btn {
  padding: 15px 40px;
  background: #455cd9;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  font-family: 'Nunito';
}

ul {
  list-style: none;
}
li {
  margin: 10px auto;
}
